body{
	font-size:16px;
	color:#fff;
	background-color:white;
	font-family:'Oxygen', sans-serif; 
}

/*navbar begin */
#header-nav{
	background-color: darkgray;
	border-radius: 0;
	border:0;
	height: 80px;
}
/*.navbar-brand{
	padding-top: 25px;
}*/
.navbar-brand h1{
	
	color:black;
	font-size:1.5em;
	text-transform: uppercase;
	font-weight: bold;
	/*line-height: .75;*/
}

.navbar-brand p {
	color:#000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top:15px;
}
.navbar-brand p span{
	vertical-align:middle;
}
#nav-list{
	margin-top: 10px;
	background-color: white;
}
#nav-list a{
	color:black;
	text-align: center;
}

#nav-list a span{
	font-size:1em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid gray;
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -40px;
}
#call-btn > a{
	font-size:1.5em;
	display: block;
	margin:0 20px;
	padding:10px;
	border:2px solid gray;
	background-color: #f6b319;
    color:#951c49;
}	

/*header part begin */
.container .jumbotron{
	margin-top: -30px;
	padding:0;
	background-color: white;
	color:black;
}
.container .jumbotron h3{
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
}

#chicken-tiles, #sushi-tiles, #beef-tiles{
	height:550px;
	width: 100%;
    overflow: hidden;
}
 #chicken-tiles{
  
  font-weight: bold;
  font-size:1em;
  position:relative;
  background-color: gray;
  margin-bottom:30px;


}
#chicken-tiles span h3{
	text-align: center;
	font-weight: bold;
}
#chicken-tiles p{
	color:black;
	overflow: hidden;
	position: relative;
	font-size: .8em;
	font-weight: bold;
}


#sushi-tiles{
  text-align: center;	
  font-weight: bold;
  font-size:1em;
  position:relative;
  background-color: gray;
  margin-bottom:30px;

}
#sushi-tiles span h3{
	text-align: center;
	font-weight: bold;
}

#sushi-tiles p{
	color:black;
	overflow: hidden;
	position: relative;
	font-size: .8em;
	font-weight: bold;
}
#beef-tiles{
  text-align: center;	
  font-weight: bold;
  font-size:1em;
  position:relative;
  background-color:gray;
  /*margin-bottom: :30px;*/

}

#beef-tiles span h3{
	text-align: center;
	font-weight: bold;
}

#beef-tiles p{
	color:black;
	overflow: hidden;
	position: relative;
	font-size: .8em;
	font-weight: bold;
}

#chicken-tiles span, #sushi-tiles span, #beef-tiles span{
	/*position: absolute;*/
	bottom: 0;
	right: 0;
	width:100%;
	text-align: center;
	font-size:1em;
	background-color:gray;
	color: black;
	opacity: .8;

}


@media (min-width: 1200px) {
		.container .jumbotron{
		/*background: url('/images/food-1200.jpg') no-repeat;*/
		height: 30%;
		
	}
	
}
@media (min-width: 992px) and (max-width: 1199px){
      .container .jumbotron {
		height: 30%;

	}

	

}
@media (min-width: 768px) and (max-width: 991px){
		.container.jumbotron{
		height: 30%;
		
	}

}
 
 /* small devices*/
@media (max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	
}


@media (max-width: 479px) {
	.navbar-brand h1{
		padding-top: 5px;font-size: 6vw; 
	}
	
	.col-xxs-12{
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%; 
	}
}
